body {
  background-color: #dceaf5;
}

body > .container {
  max-width: 550px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-top: 3rem;
  padding-bottom: 5rem;
}


/* Hover Effects */
.nav-link:hover {
  background-color: #90EE90 !important; /* Light green hover effect */
  color: #004466 !important;            /* Hover text color */
}

/* Selected Tab Style */
.nav-link.active {
  background-color: #004466 !important; /* Background color of selected tab */
  color: white !important;              /* Text color of selected tab */
  border: 1px solid #004466 !important; /* Border for selected tab */
}

/* General Tab Styles */
.nav-link {
  color: #333333 !important;         /* Default tab text color */
  font-size: 16px !important;        /* Font size */
  border: 1px solid #1d1616 !important; /* Add visible boundaries */
  margin-right: 3px !important;      /* Spacing between tabs */
  padding: 6px 6px !important;     /* Padding inside tabs */
  border-radius: 4px !important;     /* Rounded corners */
}

/* DataFrame Title */
h4, .dataframe-title {
  text-align: center !important;        /* Center the title above the table */
  font-size: 16px !important;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Upper Tabs (Align Left) */
.nav-pills {
  display: flex !important;
  justify-content: flex-end !important; /* Align to the left */
}

/* Inner Tabs (Align Right) */
.navset-card-underline .nav {
  display: flex !important;
  justify-content: flex-end !important; /* Align to the right */
  width: 100%;                         /* Full width for alignment */
}




